body {
  background-color: lightblue;
}
p {
  color: orange;
}

.purpleText{
  color: purple;
  font-size: 18pt;
  font-weight: bold;
}

#myFirstID {
  color: red;
}

.italicText {
  font-style:  italic;
}

.fontChange{
  font-family: Comicsans,serif;
}
