body{
  color: white;
  height: 650px;
  margin: 0;


}
.wrapper{
  background-color: white;
}

.header{
  margin: 0;
  height: 50px;
  text-align: center;
  background-color: red;
}

.leftbody{
  height: 550px;
  background-color: green;
}


.footer{
  height: 50px;
  background-color: blue;

}
